.site-header {
	@extend %shadow;

	position: relative;
	color: var(--header-color);
	background: var(--header-bg);

	& > .wrapper {
		display: flex;
		padding: .25rem;
		padding-left: .5rem;
        padding-right: 1rem;
		
		@supports(padding: max(0px)) {
			padding-left: unquote('max(.5rem, env(safe-area-inset-left))');
			padding-right: unquote('max(1rem, env(safe-area-inset-right))');
		}

		align-items: center;
	}
}

.site-logo, .action-tweet {
	display: block;
	width: 3rem;
	height: 3rem;
	padding: .5rem;
	flex: 0 0 3rem;

	svg {
		fill: var(--header-color);
	}

	&:hover {
		svg {
			fill: var(--header-hover);
		}
	}
}

.action-login {
	font-size: (14/16+rem);
	margin: 0;
	padding: .5rem;
	cursor: pointer;
	color: var(--header-bg);
	border: 1px solid transparent;
	border-radius: .25rem;
	background: var(--header-color);
	
	&:hover {
		background: var(--header-hover);
	}
}

.page-title {
	font-size: 1.5rem;
	overflow: hidden;
	margin: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	flex: 1;
}