.night-mode {
    display: flex;
	justify-content: center;
	margin-top: 1rem;
}

:root {
	--switch-font-size: 16px;
    --switch-w: 4em;
    --switch-h: 2em;
    --switch-off-bg: linear-gradient(180deg, rgba(36,215,247,1) 0%, rgba(98,231,247,1) 100%);
	--switch-on-bg: linear-gradient(180deg, rgba(2,16,55,1) 0%, rgba(32,32,106,1) 100%);
	--switch-continuous-grad: linear-gradient(180deg, rgba(2,16,55,1) 0%, rgba(32,32,106,1) 19%, rgba(65,132,177,1) 66%, rgba(98,231,247,1) 100%);
    --switch-off-handle-color: #fffad8;
    --switch-on-handle-color: transparent;
	--switch-off-shadow: 
		0 0 .25em .0625em #fbee8d, 
		0 0 2em 0 #FFEB3B, 
		inset -.25em -.25em 0 0 #fbee8e, 
		inset -.3125em -.3125em 0 .625em #fff5b2;
    --switch-on-shadow: inset -.1875em -.1875em 0 0 #fbe7ef, inset -.5625em -.5625em 0 0 #fffff7;
	--switch-handle-scale: .65;
	--switch-border-width: .125em;
    --switch-off-handle-x: -.125em;
    --switch-on-handle-x: calc(100% - .125em);
	--switch-transition-duration: .2s;
}

#action-theme {
	display: none;
	
	& + label {
		display: flex;
		overflow: hidden;
		width: var(--switch-w);
		height: var(--switch-h);
        transition: var(--switch-transition-duration);
		border: var(--switch-border-width) solid var(--slate95);
		border-radius: calc(var(--switch-h) / 2);
		background-image: var(--switch-continuous-grad);
    	background-position: bottom;
		background-size: auto 8em;
		font-size: var(--switch-font-size);
		
		span {
			width: var(--switch-h);
			height: var(--switch-h);
            margin-top: var(--switch-off-handle-x);
            cursor: pointer;	transition: var(--switch-transition-duration);
			transform: translateX(var(--switch-off-handle-x)) scale(var(--switch-handle-scale));	
			border-radius: 50%;
			background: var(--switch-off-handle-color);
            box-shadow: var(--switch-off-shadow);
			}
	}
	
	&:checked {
		font-size: var(--switch-font-size);

		& + label {
            border-color: var(--slate50);
			background-position: top;
			
			span {
                transform: translateX(var(--switch-on-handle-x)) scale(var(--switch-handle-scale));
				background: var(--switch-on-handle-color);
                box-shadow: var(--switch-on-shadow);
			}
		}
	}
}
