.sidebar-widget {
	margin-top: 1rem;
	padding: 1rem;
	color: var(--sidebar-color);
	background: var(--sidebar-bg);

	@extend %shadow;
	@include bp(md) {
		margin-top: 0;
		border-radius: .25rem;
	}

	h1,h2,h3,h4,h5,h6 {
		color: var(--sidebar-heading);
	}

	a {
		color: var(--sidebar-color);
	}
}
