.sidebar-widget {
	margin: 1rem 0;
	padding: 1rem;
	background: var(--sidebar-bg);
	color: var(--sidebar-color);
	@extend %shadow;

	h1,h2,h3,h4,h5,h6 {
		color: var(--sidebar-heading);
	}

	a {
		color: var(--sidebar-color);
	}

	@include bp(md) {
		margin: 0;
		border-radius: .25rem;

		& + .sidebar-widget {
			margin: 1rem 0;
		}
	}
}
