

.site-toolbar {
	background: var(--toolbar-bg);
	color: var(--toolbar-color);
	padding: .5rem 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;

	@include bp(md) {
		padding: .5rem;	
	}
}

.btn-group {
	display: flex;
}

.action-sort {
	background: var(--toolbar-btn-bg);
    color: var(--toolbar-color);
    margin: 0;
    padding: 0;
    width: 2rem;
    height: 2rem;
	border: 1px solid transparent;
	cursor: pointer;

	&.selected {
		background: var(--toolbar-btn-select);
	}

	&:focus {
		outline: none;
		border-color: var(--toolbar-btn-focus);
	}

	&:hover {
		background: var(--toolbar-btn-hover);
	}

	&:first-child {
		border-top-left-radius: .25rem;
		border-bottom-left-radius: .25rem;
	}

	&:last-child {
		border-top-right-radius: .25rem;
		border-bottom-right-radius: .25rem;
	}

	svg {
		width: 1.5rem;
		height: 1.5rem;
		display: block;
		margin: 0 auto;
		fill: var(--toolbar-color);
	}
}

.action-sort-radio {
	display: none;
}

.action-sort-label {
	background: var(--toolbar-btn-bg);
	color: var(--toolbar-color);
	align-items: center;
    display: flex;
    margin: 0;
    padding: 0;
    width: 2rem;
    height: 2rem;
	border: 1px solid transparent;
	cursor: pointer;

	.action-sort-radio:checked + & {
		background: var(--toolbar-btn-select);
	}

	.action-sort-radio:focus + & {
		outline: none;
		border-color: var(--toolbar-btn-focus);
	}

	&:hover {
		background: var(--toolbar-btn-hover);
	}

	&:first-of-type {
		border-top-left-radius: .25rem;
		border-bottom-left-radius: .25rem;
	}

	&:last-of-type {
		border-top-right-radius: .25rem;
		border-bottom-right-radius: .25rem;
	}

	svg {
		width: 1.5rem;
		height: 1.5rem;
		display: block;
		margin: 0 auto;
		fill: var(--toolbar-color);
	}	
}

.action-dateRange-wrapper {
	position: relative;
	height: 2rem;
	color: var(--toolbar-color);

	&:after {
		content: '';
		position: absolute;
		top: 0;
		width: 8px;
		height: 8px;
		right: 8px;
		bottom: 0;
		margin: auto;
		border: 2px solid var(--toolbar-color);
		border-top-width: 0;
		border-left-width: 0;
		pointer-events: none;
		transform: rotate(45deg);
		transform-origin: top;
	}
	
	.action-dateRange {
		position: relative;
		font-size: (14/16+rem);
		border: none;
		box-shadow: none;
		border-radius: 0;
		background: transparent;
		height: 100%;
		width: 100%;
		cursor: pointer;
		outline: none;
		padding-right: 1.5rem;
    	padding-left: .5rem;
		border-radius: 0.25rem;
		color: var(--toolbar-color);
		background: var(--toolbar-btn-bg);
		border: 1px solid transparent;

		// Disable default styling on ff
		-moz-appearance: none;

		// Disable ugly ass outline on firefox 
		&:-moz-focusring {
			color: transparent;
			text-shadow: 0 0 0 #000;
		} 

		// Disable default styling on webkit browsers 
		-webkit-appearance: none;

		// Disable default arrow on IE 11+
		&::-ms-expand {
			display: none;
		}

		&:focus {  
			border-color: var(--toolbar-color);
		}
	}
}
